timezone: "Europe/Berlin"

replicaCount: 1

image: ghcr.io/vitagroup-ps/deployment-ttp:2025.1.2
imagePullSecrets:
  - name: ghcr-credentials
  
ingress:
  host: ttp
  tls:
    enabled: false
    secret: tls-secret-ref

service:
  type: ClusterIP
  ports:
    http: 8080
    mgmt: 9990
  
env:
  # Logging
  TTP_LOG_TO: "CONSOLE"
  TTP_LOG_LEVEL: "DEBUG"
  TTP_AUTH_LOG_TO: "CONSOLE"
  TTP_AUTH_LOG_LEVEL: "DEBUG"
  TTP_WEB_LOG_TO: "CONSOLE"
  TTP_WEB_LOG_LEVEL: "INFO"
  TTP_FHIR_LOG_TO: "CONSOLE"
  TTP_FHIR_LOG_LEVEL: "DEBUG"
  TTP_GPAS_LOG_TO: "CONSOLE"
  TTP_GPAS_LOG_LEVEL: "DEBUG"
  TTP_GICS_LOG_TO: "CONSOLE"
  TTP_GICS_LOG_LEVEL: "DEBUG"
  TTP_EPIX_LOG_TO: "CONSOLE"
  TTP_EPIX_LOG_LEVEL: "DEBUG"

  # Keycloak WEB
  TTP_GPAS_WEB_AUTH_MODE: "keycloak"
  TTP_GICS_WEB_AUTH_MODE: "keycloak"
  TTP_EPIX_WEB_AUTH_MODE: "keycloak"
  TTP_WEB_KEYCLOAK_REALM: "ttp"
  TTP_WEB_KEYCLOAK_SERVER_URL: "http://ttp-keycloak.ttp.svc.cluster.local:8091"
  TTP_WEB_KEYCLOAK_SSL_REQUIRED: "none"
  #TTP_WEB_KEYCLOAK_CONFIDENTIAL_PORT: 443

  # Keycloak SOAP
  TTP_GPAS_SOAP_KEYCLOAK_ENABLE: "true"
  TTP_GICS_SOAP_KEYCLOAK_ENABLE: "true"
  TTP_EPIX_SOAP_KEYCLOAK_ENABLE: "true"
  TTP_SOAP_KEYCLOAK_REALM: "ttp"
  TTP_SOAP_KEYCLOAK_SERVER_URL: "http://ttp-keycloak.ttp.svc.cluster.local:8091"
  TTP_SOAP_KEYCLOAK_SSL_REQUIRED: "none"
  #TTP_SOAP_KEYCLOAK_CONFIDENTIAL_PORT: 443

  # Keycloak FHIR
  TTP_FHIR_KEYCLOAK_ENABLE: "true"
  TTP_FHIR_KEYCLOAK_REALM: "ttp"
  TTP_FHIR_KEYCLOAK_SERVER_URL: "http://ttp-keycloak.ttp.svc.cluster.local:8091"
  TTP_FHIR_KEYCLOAK_SSL_REQUIRED: "none"
  #TTP_FHIR_KEYCLOAK_CONFIDENTIAL_PORT: 443

  # Keycloak Roles
  TTP_GPAS_SOAP_ROLE_USER_NAME: "role.gpas.soap.user"
  TTP_GPAS_SOAP_ROLE_ADMIN_NAME: "role.gpas.soap.admin"
  TTP_FHIR_KEYCLOAK_ROLE_GPAS_USER: "role.gpas.fhir.user"
  TTP_FHIR_KEYCLOAK_ROLE_GPAS_ADMIN: "role.gpas.fhir.admin"
  TTP_GICS_SOAP_ROLE_USER_NAME: "role.gics.soap.user"
  TTP_GICS_SOAP_ROLE_ADMIN_NAME: "role.gics.soap.admin"
  TTP_FHIR_KEYCLOAK_ROLE_GICS_USER: "role.gics.fhir.user"
  TTP_FHIR_KEYCLOAK_ROLE_GICS_ADMIN: "role.gics.fhir.admin"
  TTP_EPIX_SOAP_ROLE_USER_NAME: "role.epix.soap.user"
  TTP_EPIX_SOAP_ROLE_ADMIN_NAME: "role.epix.soap.admin"
  TTP_FHIR_KEYCLOAK_ROLE_EPIX_USER: "role.epix.fhir.user"
  TTP_FHIR_KEYCLOAK_ROLE_EPIX_ADMIN: "role.epix.fhir.admin"

  # gPAS
  TTP_GPAS_WEB_CONTEXT: "gpas-web"
  TTP_GPAS_SOAP_CONTEXT: "gpas"

  TTP_GPAS_DB_HOST: "ttp-mysql.ttp.svc.cluster.local"
  TTP_GPAS_DB_PORT: "3306"
  TTP_GPAS_DB_NAME: "gpas"

  # gICS
  TTP_GICS_WEB_CONTEXT: "gics-web"
  TTP_GICS_SOAP_CONTEXT: "gics"

  TTP_GICS_DB_HOST: "ttp-mysql.ttp.svc.cluster.local"
  TTP_GICS_DB_PORT: "3306"
  TTP_GICS_DB_NAME: "gics"

  # ePIX
  TTP_EPIX_WEB_CONTEXT: "epix-web"
  TTP_EPIX_SOAP_CONTEXT: "epic"

  TTP_EPIX_DB_HOST: "ttp-mysql.ttp.svc.cluster.local"
  TTP_EPIX_DB_PORT: "3306"
  TTP_EPIC_DB_NAME: "epix"

  # FHIR
  TTP_FHIR_GICS_ENDPOINT_ENABLED: "TRUE"
  TTP_FHIR_GPAS_ENDPOINT_ENABLED: "TRUE"
  TTP_FHIR_EPIX_ENDPOINT_ENABLED: "TRUE"

envSecret:
  # Keycloak WEB
  TTP_WEB_KEYCLOAK_CLIENT_ID: "ttp-web" # preferably leave empty and set as externalSecret
  TTP_WEB_KEYCLOAK_CLIENT_SECRET: "J4seMBlUF4hHHWNVY9UhGOinsr65XSyz" # preferably leave empty and set as externalSecret

  # Keycloak SOAP
  TTP_SOAP_KEYCLOAK_CLIENT_ID: "ttp-soap" # preferably leave empty and set as externalSecret
  TTP_SOAP_KEYCLOAK_CLIENT_SECRET: "rlNJFPRVdMZStmzls9efPyMb2oGmRRNQ" # preferably leave empty and set as externalSecret

  # Keycloak FHIR
  TTP_FHIR_KEYCLOAK_CLIENT_ID: "ttp-fhir" # preferably leave empty and set as externalSecret
  TTP_FHIR_KEYCLOAK_CLIENT_SECRET: "lbJOPUKb2bzanUg7Bi5jbV17Kg6IZOvE" # preferably leave empty and set as externalSecret

  # gPAS
  TTP_GPAS_DB_USER: "gpas_user" # preferably leave empty and set as externalSecret
  TTP_GPAS_DB_PASS: "gpas_password" # preferably leave empty and set as externalSecret
  
  # gICS
  TTP_GICS_DB_USER: "gics_user" # preferably leave empty and set as externalSecret
  TTP_GICS_DB_PASS: "gics_password" # preferably leave empty and set as externalSecret
  
  # ePIX
  TTP_EPIX_DB_USER: "epix_user" # preferably leave empty and set as externalSecret
  TTP_EPIX_DB_PASS: "epix_password" # preferably leave empty and set as externalSecret

secretName: ttp-app-secret-ref
externalSecret:
  enabled: false

entrypoint: ["/bin/bash"]
command: ["-c", "./wait-for-it.sh ttp-mysql.ttp.svc.cluster.local:3306 -t 120 && ./run.sh"]

resources: {}

nodeSelector: {}

affinity: {}

tolerations: []